input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.quantity-block {
  font-size: 20px;
  text-align: center;
}
.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 25px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  color: #fff;
  border-color: #3BB44A;
  background-color: #3BB44A;
}
.quantity-num {
  width: 100% !important;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  color: #3BB44A;
  border-color: #3BB44A;
}
