.wp-pagenavi {
    width: 100%;
    font-size: initial;
    padding: 5px 0;
    text-align: center;
    margin: 5px auto;
    line-height: 45px;
}
.pages {
    width: auto;
    height: auto;
    margin: 0 3px;
    border: 1px solid #A44F30;
    padding: 8px;
    background-color: #A44F30;
    color: #fff;
    border-radius: 5px;
}
.current-pag {
    color: #fff;
    width: auto;
    height: auto;
    margin: 0;
    border: 1px solid #FB9223;
    padding: 8px;
    margin-right: 3px;
    box-sizing: border-box;
    border-radius: 5px;
}
.current-pag {
    color: #fff;
    background-color: #FB9223;
}
.wp-pagenavi a:hover {
    border: 1px solid #FB9223;
    color: #fff;
    background-color: #FB9223;
}
.wp-pagenavi a {
    text-decoration: none;
    border: 1px solid #A44F30;
    padding: 8px;
    background-color: #fff;
    margin: 5px 0;
    color: #A44F30;
    border-radius: 5px;
}
